<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDs7pee9vjdKfUYFbJvHo8rDwqp36dkPRI</string>
	<key>GCM_SENDER_ID</key>
	<string>372003342382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiddify.hiddify</string>
	<key>PROJECT_ID</key>
	<string>hiddify-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>hiddify-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372003342382:ios:a579c1abfc54046a6fb7bf</string>
</dict>
</plist>