[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Name[en_US]=Tutorial_For_HiddifyNext_Linux
Name=Tutorial_For_HiddifyNext_Linux
Type=Link
URL=https://github.com/hiddify/hiddify-next/wiki/How-to-install-HiddifyNext-app
