[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Name[en_US]=آموزش هیدیفای‌نکست فارسی لینوکس
Name=آموزش هیدیفای‌نکست فارسی لینوکس
Type=Link
URL=https://github.com/hiddify/hiddify-next/wiki/%D8%A2%D9%85%D9%88%D8%B2%D8%B4-%D9%86%D8%B5%D8%A8-%D9%86%D8%B1%D9%85%E2%80%8C%D8%A7%D9%81%D8%B2%D8%A7%D8%B1-%D9%87%DB%8C%D8%AF%DB%8C%D9%81%D8%A7%DB%8C%E2%80%8C%D9%86%DA%A9%D8%B3%D8%AA
