<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>app.hiddify.com</key>
		<string>dist.apple.app.hiddify.com</string>
		<key>app.hiddify.com.SingBoxPacketTunnel</key>
		<string>dist.apple.app.hiddify.com.singboxpackettunnel</string>
	</dict>
	<key>signingCertificate</key>
	<string>E2217AF6F3AD11BA09F9FD95E025D7E637F8B081</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>3JFTY5BP58</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
